<div class="col-md-3" style="margin-bottom: 20px;">
  <div class="card" >
    {{!-- <img src="/images/pet_1.jpg" class="card-img-top"> --}}
    <img src="{{this.petPath}}" alt="">

    <div class="card-body">
      <h5 class="card-title text-center">{{this.name}} </h5>
      <p class='text-center'>{{this.status}}</p>
      <a href="/allPets/{{this._id}}" class="ver-mas-card text-center">Ver más</a>

    </div>
  </div>
</div>

