<div class="col-md-3" style="margin-bottom: 20px;">
  <div class="card" >
    <img src="{{this.petPath}}" alt="">
    <div class="card-body">
      <h5 class="card-title">{{this.name}} </h5>
      <p>{{this.status}}</p>
      <a href="/allPets/{{this._id}}" class="btn btn-primary">Ver más</a>

    </div>
  </div>
</div>

