{{!< layout}}
<div class="row">
  <div class="col-12"><h1>Board</h1>
<h2>Pets dadas en adopción</h2>

    <div class= 'cards-container' >
	  {{#each allPets}}
	    {{> petCard this }}
	  {{/each}} 
	</div>
     

  </div>
</div>