{{!< layout}}
<div class="container all-pets text-center">
	<h2 clas='text-center'>Conoce a todas nuestras mascotas dadas en adopción</h2>

	<div class='cards-container row flex-wrap' >
		{{#each allPets}}
		{{> petCard this }}
		{{/each}} 
	</div>
	

</div>