<div class="detail-pet">
  <div class="row">
  <div class="col-md-12">
    <h2>Ayuda a PEtNAme a tener una nueva historia, adóptalo</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <img src="/images/pet_1.jpg" alt="">
  </div>
  <div class="col-md-6">
    <p>Especie: {{petDetails.specie}}</p>
    <p>Edad:{{petDetails.age}}</p>
    <p>Tamaño: {{petDetails.size}}</p>
    <p>ironSaver/Refugio: {{petDetails.shelter.role}}</p>
    <a href="/" class="btn btn-primary">Adoptar</a>

  </div>
</div>
</div>
