{{!< layout}}
<div class="row map justify-content-md-center">
    <div class=" col-lg-10 col-md-10 col-sm-5 " >
            <h2>Ubica tu refugio más cercano!!! </h2>
            <div id="map" class="centrar"></div>
    </div>
</div>

{{#each listRefugio}}
{{/each}} 
        
<script>
     var arrayRefugio = {{{json listRefugio}}}
    
</script>