{{!< layout}}

<section class="find-pets mx-auto">
  <div class="row">
    <div class="cdmx-info col-lg-6 col-md-6 col-sm-12">
      {{!-- <img src="/images/ironPetsLogoOscuro@2x.png" alt=""> --}}
      <h2><span class="align-middle">Dale un hogar a un nuevo amigo</span></h2>
      <p><span class="align-middle">En la <strong>CDMX</strong> hay miles de mascotas sin hogar y en busca de familia, en <strong>IRON PETS</strong> puedes encontrar centros de adopci칩n para tener un nuevo mejor amigo.</span><p></p>
      <a href="#carruselDelAmor"><h5>Ver m치s mascotas  &nbsp; ></h5></a> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div><img src="/images/petsIlustration.png" class="card-img-p"></div>
    </div>
  </div>
</section>

<section class="info-pets">
  <div class=" row card-body-all">
    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <a href="/allPets"> <div class="card" style="width: 20rem;">
          <img src="/images/imagenAdopta.png" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Adopta </h4></a>
            <p class="card-text">Encuentra a tu nuevo mejor amigo y adopta</p>
          </div>
        </div>
    </div>
    <br>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
      <a href="/overview"> <div class="card" style="width: 20em;">
        <img src="/images/imagenRegistra.png" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Registra</h4></a>
          <p class="card-text">Registra a tu amigo peludo para que encuentre un nuevo hogar</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
      <a href="/findPets"> <div class="card" style="width: 20rem;">
        <img src="/images/imagenUbica.png" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Ubica</h5></a>
          <p class="card-text">Encuentra los centros de adopci칩n m치s cercanos</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="carruselDelAmor" class="carousel-pets">
    <h2><span class="align-middle">Conoce a nuestros amiguitos peludos</span></h2>
    <br>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        {{!-- <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> --}}
        <div class="carousel-inner">
          <div class="carousel-item active">
              {{#each chosenPets}}
                <img class="d-block w-100" src="{{this.petPath}}" alt="">
              {{/each}}
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

