<div class='row text-center message-email'>
    <div class='col-md-12 '>
        <h1>¡Felicidades estas a un paso de adoptar!</h1>
        <br>
        <p>Pronto se pondrán en contacto contigo</p>
    </div>
</div>
