{{!< layout}}
<div class="row">
  <div class="col-12"><h1>Board</h1>
  <h1>Bienvenido {{user.name}}</h1>

    <h2>Pets dadas en adopción</h2>
     <div class= 'cards-container' >
	  {{#each petList}}
	    {{> petCard this }}
	  {{/each}} 
	</div>
  <a href="/overview/addPet" class="button">Dar en adopción</a>
  </div>
  <div id="container">
    <a href="/logout">Logout</a>
  </div>
</div>
