{{!< layout}}
<div class="row">
  <div class="col-12 overview-pets"><h1></h1>
  <h1 class='pl-3'>¡Bienvenido {{user.name}}!</h1>

    <h4 class='h5'>Estas son las mascotas que has dado en adopción</h4>
      <a href="/overview/addPet" class="button">Dar en adopción</a>
     <div class= 'cards-container' >
	  {{#each petList}}
	    {{> petCard this }}
	  {{/each}} 
	</div>

  </div>

</div>
