<div class="row">
  <div class="col-md-6">
     <img src="/images/404.png" class="card-img-top" alt="...">
  </div>
  <div class="col-md-6">
    <h2>This route does not exist on the app! Check if everything is ok!</h2>
  </div>
</div>