{{!< layout}}
<div class="row">
  <div class="col-12"><h1>Board</h1>
<h2>Pets dadas en adopción</h2>
<ol>
  <li>Perrito 1</li>
  <li>Perrito 2</li>
</ol>
 

      <a href="./overview/addPet" class="button">Dar en adopción</a>

  </div>
</div>
