
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pet List</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
  <h2>Mascotas</h2>
	<div class= 'cards-container' >
	  {{#each Pet}}
	    {{> petCard this }}
	  {{/each}}
	</div>
  </body>

</html>

