{{!< layout}}
 <a href="./auth/registerUser" class="button">Click Here</a>
<button type="button" class="btn btn-primary btn-sm" href=""> ironSavior </button>
<button type="button" class="btn btn-secondary btn-sm"> Refugio </button>